<header class="header">
	<div class="header-container">
		<div class="nav">
			{% if page.path == "index.html" %}
			<span class="title">
				<li>
					<a href="/index.html">Home</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/index.html">Home</a>
				</li>			
			{% endif %}
			{% if page.path == "archive.html" %}
			<span class="title">
				<li>
					<a href="/archive.html">About</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/archive.html">About</a>
				</li>			
			{% endif %}
			{% if page.path == "category.html" %}
			<span class="title">
				<li>
					<a href="/category.html">Research</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/category.html">Research</a>
				</li>			
			{% endif %}
			{% if page.path == "about.html" %}
			<span class="title">
				<li>
					<a href="/about.html">Essays</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/about.html">Essays</a>
				</li>			
			{% endif %}
			<span class="title">
				<li>
					<a href="/about.html">Blog</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/about.html">Blog</a>
				</li>			
			{% endif %}
		</div>
		<div class="description"> {{ site.motto }} </div>			
	</div>
</header>
