<!DOCTYPE html>
<html>    
  {% include head.html %}

  <body>
    {% include header.html %}
    <br>
    <div class="page-content">
      <script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
</script>
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    
    {% include footer.html %}
    
  </body>

</html>
